@charset "UTF-8";

/* 回答はここに書いてね */



.box-p2{
  width: 900px;
  margin: auto;
  padding: 20px;
  background: #eff3f4;
}

.content-box1 img{
  float: left;
  padding: 0px 20px 10px 0px;
 }


.content-box1 p{
  font-size: 18px;
  line-height: 22px;
  word-break:break-all;
}

.content-box2 img{
  float:right;
  padding: 0px 0px 10px 20px;
}

.content-box2 p{
   font-size: 18px;
  line-height: 22px;
  word-break:break-all;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}




/* 回答はここに書いてね */
