@charset "UTF-8";

/* 回答はここに書いてね */
.q5{
  width: 100%;
  position: relative;
}

.content-9{
  position: fixed;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: #2b69a3;
  font-size: 30px;
  padding: 35px;
  text-align:center;
}

.content{
 width: 500px;
 height: 500px;
 background: #ecf1f2;
 margin: auto;
 position: relative;
}


.content-1{
  position: absolute;
  top: 40px;
  left: 200px;
  height: 30px;
  width: 30px;
  background: #ffefd3;
  z-index: 1;
  font-size: 30px;
  text-align:center;
  padding:35px;
}

.content-2{
  position: absolute;
  top: 120px;
  left: 280px;
  height: 30px;
  width: 30px;
  background: #7084de;
  z-index: 2;
  font-size: 30px;
  padding:35px;
  text-align:center;
}

.content-3{
  position: absolute;
  top: 200px;
  left: 360px;
  height: 30px;
  width: 30px;
  background: #d0ecea;
  z-index: 3;
  font-size: 30px;
  padding: 35px;
  text-align:center;
}

.content-4{
  position: absolute;
  bottom: 120px;
  right: 120px;
  height: 30px;
  width: 30px;
  background: #8b7a5a;
  z-index: 4;
  font-size: 30px;
  padding: 35px;
  text-align:center;
}

.content-5{
  position: absolute;
  bottom: 40px;
  right: 200px;
  width: 30px;
  height: 30px;
  background: #5fd6d2;
  z-index: 5;
  font-size: 30px;
  padding: 35px;
  text-align:center;
}

.content-6{
  position: absolute;
  bottom: 120px;
  right: 280px;
  width: 30px;
  height: 30px;
  background: #fffee4;
  z-index: 6;
  font-size: 30px;
  padding: 35px;
  text-align:center;
}

.content-7{
  position: absolute;
  top: 200px;
  left: 40px;
  width: 30px;
  height: 30px;
  background: #deae70;
  z-index: 7;
  font-size: 30px;
  padding: 35px;
  text-align:center;
}

.content-8{
  position: absolute;
  top: 120px;
  left: 120px;
  width: 30px;
  height: 30px;
  background: #de70cf;
  z-index: 8;
  font-size: 30px;
  padding: 35px;
  text-align:center;
}

.content-8:before{
  content:"";
  width:20px;
  height:20px;
  background:#ffefd3;
  position: absolute;
  top: 0;
  right: 0;
}


/* 回答はここに書いてね */
