@charset "UTF-8";

/* 回答はここに書いてね */

.q6__box .q6__box__text {
  width: 90px;
  background: #e6f2ff;
  padding: 10px 0 10px 0;
}

.q6__box.is-left .q6__box__left {
  text-align: center;
}

.q6__box.is-left .q6__box__text {
  display: inline-block;
}

.q6__box.is-right .q6__box__text {
  margin: 0 auto;
  text-align: center;
}

.content-table {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.content-table p {
  display: inline-block;
  padding: 10px;
  background: #fff;
}

.q6-box {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
}

.is-table {
  display: table;
}

.content-flex {
  display: flex;
  align-items: center;
  }

.content-flex p {
  padding: 10px;
  background: #fff;
}

.q6--position .q6__box {
  position: relative;
}

.q6__box.is-content .q6__box__inner {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.q6__box.is-side .q6__box__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 回答はここに書いてね */

